In [3]:
from pysus.online_data.Infodengue import download

ModuleNotFoundError: No module named 'pysus'

In [2]:
barueri = download('dengue', '200001', '202312', 'São Paulo')\
    .transpose()

# to understand the data, access the site https://info.dengue.mat.br/services/tutorial/Python
barueri.head()

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year
SE,,,,,,,,,,,,,,,,,,,,,
202312,2023-03-19,2724.0,2724,2724.0,2724,1.0,22.32754,0,4,355030820231219809,...,75.402398,53.904714,22.744047,26.714286,NaN,NaN,NaN,NaN,NaN,399259
202311,2023-03-12,2293.0,2293,2293.0,2293,1.0,18.794806,0,4,355030820231119801,...,89.64497,88.649182,20.432099,20.740741,NaN,NaN,NaN,NaN,NaN,399259
202310,2023-03-05,1936.0,1936,1936.0,1936,1.0,15.868618,0,3,355030820231019795,...,80.140465,77.556107,21.885714,22.428571,NaN,NaN,NaN,NaN,NaN,399259
202309,2023-02-26,1703.0,1703,1703.0,1703,1.0,13.958811,0,3,355030820230919787,...,79.617243,77.978822,22.471429,22.571429,NaN,NaN,NaN,NaN,NaN,399259
202308,2023-02-19,1335.0,1335,1335.0,1335,0.969523,10.942462,0,3,355030820230819780,...,83.218588,64.079135,21.537171,25.296296,NaN,NaN,NaN,NaN,NaN,399259

In [6]:
barueri.to_csv('barueri_dengue.csv')
barueri.tail()

,data_iniSE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,id,...,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year
SE,,,,,,,,,,,,,,,,,,,,,
201005,2010-01-31,247.0,247,247.0,247,0.0,2.004019,0,2,355030820100519589,...,68.63482,31.0,25.129981,32.428571,NaN,NaN,NaN,NaN,NaN,399259
201004,2010-01-24,203.0,203,203.0,203,0.0,1.647028,0,2,355030820100419589,...,83.981984,62.714286,21.996652,26.428571,NaN,NaN,NaN,NaN,NaN,399259
201003,2010-01-17,168.0,168,168.0,168,0.0,1.363058,0,2,355030820100319589,...,78.072091,51.0,23.334464,28.0,NaN,NaN,NaN,NaN,NaN,399259
201002,2010-01-10,144.0,144,144.0,144,0.0,1.168335,0,1,355030820100219589,...,70.634466,45.285714,24.218276,28.571429,NaN,NaN,NaN,NaN,NaN,399259
201001,2010-01-03,123.0,123,123.0,123,0.0,0.997953,0,1,355030820100119589,...,80.211856,50.428571,23.845891,29.428571,NaN,NaN,NaN,NaN,NaN,399259

In [4]:
barueri_filtered = barueri[['data_iniSE', 'umidmin','umidmed', 'umidmax', 'tempmin','tempmed','tempmax', 'casos']]
print(barueri.head())

        data_iniSE casos_est casos_est_min casos_est_max casos     p_rt1  \
SE
202312  2023-03-19    2724.0          2724        2724.0  2724       1.0
202311  2023-03-12    2293.0          2293        2293.0  2293       1.0
202310  2023-03-05    1936.0          1936        1936.0  1936       1.0
202309  2023-02-26    1703.0          1703        1703.0  1703       1.0
202308  2023-02-19    1335.0          1335        1335.0  1335  0.969523

        p_inc100k Localidade_id nivel                  id  ...    umidmed  \
SE                                                         ...
202312   22.32754             0     4  355030820231219809  ...  75.402398
202311  18.794806             0     4  355030820231119801  ...   89.64497
202310  15.868618             0     3  355030820231019795  ...  80.140465
202309  13.958811             0     3  355030820230919787  ...  79.617243
202308  10.942462             0     3  355030820230819780  ...  83.218588

          umidmin    tempmed    tempmax casprov casprov_est casprov_est_min  \
SE
202312  53.904714  22.744047  26.714286     NaN         NaN             NaN
202311  88.649182  20.432099  20.740741     NaN         NaN             NaN
202310  77.556107  21.885714  22.428571     NaN         NaN             NaN
202309  77.978822  22.471429  22.571429     NaN         NaN             NaN
202308  64.079135  21.537171  25.296296     NaN         NaN             NaN

       casprov_est_max casconf notif_accum_year
SE
202312             NaN     NaN           399259
202311             NaN     NaN           399259
202310             NaN     NaN           399259
202309             NaN     NaN           399259
202308             NaN     NaN           399259

[5 rows x 29 columns]

In [5]:
print(barueri_filtered.tail())

        data_iniSE    umidmin    umidmed    umidmax    tempmin    tempmed  \
SE
201005  2010-01-31       31.0   68.63482       90.0  20.714286  25.129981
201004  2010-01-24  62.714286  83.981984  94.857143  19.857143  21.996652
201003  2010-01-17       51.0  78.072091       95.0       20.0  23.334464
201002  2010-01-10  45.285714  70.634466  89.285714  20.857143  24.218276
201001  2010-01-03  50.428571  80.211856  93.142857  21.428571  23.845891

          tempmax casos
SE
201005  32.428571   247
201004  26.428571   203
201003       28.0   168
201002  28.571429   144
201001  29.428571   123